Repository googleinterns/gpay-group-buy, pull requests merged in 2020-08, with the labels that each got.

#184 Cache microapps idToken
  web/src/components/customer/contexts/CustomerContext.tsx
  web/src/interfaces.ts
  web/src/microapps.ts
Labels: bug, cla: yes, customer, frontend, review-required

#178 Add loading page
  web/package.json
  web/src/App.test.tsx
  web/src/Routes.tsx
  web/src/assets/gpay-groupbuy-brand.svg
  web/src/components/common/Loading.tsx
  web/src/components/common/LoadingPage.tsx
  web/src/components/customer/explore/index.tsx
  web/yarn.lock
Labels: cla: yes, frontend, review-required

#171 Add delivery details form upon payment
  web/src/assets/customer/delivery.svg
  web/src/components/common/MobilePrompt.tsx
  web/src/components/customer/listing-details/ActionBar.tsx
  web/src/components/customer/listing-details/FulfulmentDetailsPrompt.tsx
  web/src/components/customer/listing-details/MobileFormRow.tsx
  web/src/components/customer/listing-details/contexts/CommitContext.tsx
  web/src/components/customer/listing-details/contexts/FulfilmentDetailsPromptContext.tsx
  web/src/components/customer/listing-details/hooks/useFulfilmentDetailsForm.ts
  web/src/components/customer/listing-details/index.tsx
  web/src/interfaces.ts
Labels: cla: yes, customer, frontend, review-required

#173 Refactor Form Row and Mobile Form Row
  web/src/components/common/Form.tsx
  web/src/components/common/FormRow.tsx
  web/src/components/customer/listing-details/FulfulmentDetailsPrompt.tsx
  web/src/components/customer/listing-details/MobileFormRow.tsx
Labels: cla: yes, customer, frontend, refactoring, review-required

#174 Add query by ids query param to /listings endpoint
  server/src/api/listings.ts
  server/src/services/listings.ts
  server/src/storage/datastore.ts
  server/src/storage/listings.ts
  server/tests/integration/listings.test.ts
Labels: backend, cla: yes, customer, review-required

#176 Add listing card with commit status
  web/src/components/common/Card.tsx
  web/src/components/common/ListingCard.tsx
  web/src/components/customer/my-commits/CommitStatusBadge.tsx
  web/src/components/customer/my-commits/ListingCardWithCommitStatus.tsx
  web/src/components/design-samples/index.tsx
Labels: cla: yes, customer, frontend, review-required

#177 Fix card img height
  web/src/components/common/CardImage.tsx
Labels: cla: yes, customer, frontend, review-required

#181 Add listing cards to My Commits page
  web/src/components/common/ListingCard.tsx
  web/src/components/customer/my-commits/Commits.tsx
  web/src/interfaces.ts
Labels: cla: yes, customer, frontend, review-required

#172 Create PaidCustomerCollection component to show customers who committed to and paid for a listing
  web/src/components/common/Card.tsx
  web/src/components/design-samples/index.tsx
  web/src/components/merchant/listing-details/PaidCustomerCard.tsx
  web/src/components/merchant/listing-details/PaidCustomerCollection.tsx
Labels: cla: yes, frontend, merchant, review-required

#180 Show CommittedCustomerStatuses in ListingDetails page of a successful listing
  web/src/components/merchant/listing-details/CommittedCustomerStatuses.tsx
  web/src/components/merchant/listing-details/ListingDetails.tsx
  web/src/components/merchant/listing-details/index.tsx
  web/src/index.css
Labels: cla: yes, frontend, merchant, review-required

#188 Rename xContext to xProvider to standardise
  web/src/components/customer/listing-details/index.tsx
Labels: cla: yes, frontend, refactoring, review-required

#187 Store whether customer is existing customer in localstorage
  web/src/components/common/hooks/useLocalStorage.ts
  web/src/components/customer/contexts/CustomerContext.tsx
  web/src/components/customer/explore/index.tsx
Labels: cla: yes, customer, frontend, review-required

#191 Style my commits button in Explore
  web/src/components/customer/explore/MyCommitsButton.tsx
  web/src/components/customer/explore/index.tsx
Labels: cla: yes, customer, frontend, review-required

#175 Create SendItemModal component
  web/src/components/common/MobilePrompt.tsx
  web/src/components/common/Modal.tsx
  web/src/components/design-samples/SendItemModalSample.tsx
  web/src/components/design-samples/index.tsx
  web/src/components/merchant/listing-details/CustomerFulfilmentDetailsCard.tsx
  web/src/components/merchant/listing-details/SendItemModal.tsx
Labels: cla: yes, frontend, merchant, review-required

#193 Directly lead customers to payment flow from My Commits "Pay" button
  web/src/components/customer/listing-details/ActionBar.tsx
  web/src/components/customer/listing-details/index.tsx
  web/src/components/customer/listing-details/interfaces.ts
  web/src/components/customer/my-commits/Commits.tsx
Labels: cla: yes, customer, frontend, review-required

#196 Show PaidCustomerCollection in ListingDetails page of successful listing
  server/src/services/commits.ts
  web/src/components/merchant/listing-details/CommittedCustomerStatuses.tsx
  web/src/components/merchant/listing-details/PaidCustomerCard.tsx
  web/src/components/merchant/listing-details/PaidCustomerCollection.tsx
  web/src/components/merchant/listings/index.tsx
  web/src/interfaces.ts
Labels: cla: yes, frontend, merchant, review-required

#190 Show SendItemModal after clicking 'Send Item' button on PaidCustomerCard
  web/src/components/design-samples/SendItemModalSample.tsx
  web/src/components/merchant/listing-details/CustomerFulfilmentDetailsCard.tsx
  web/src/components/merchant/listing-details/PaidCustomerCard.tsx
  web/src/components/merchant/listing-details/SendItemModal.tsx
Labels: cla: yes, frontend, merchant, review-required

#192 Style customer headers
  web/src/components/customer/my-commits/Commits.tsx
  web/src/components/customer/my-commits/index.tsx
  web/src/index.css
Labels: cla: yes, customer, frontend, review-required

#194 Add loading prompt while processing payment
  web/src/components/common/MobilePrompt.tsx
  web/src/components/customer/listing-details/CommitFeedbackPrompt.tsx
  web/src/components/customer/listing-details/contexts/CommitContext.tsx
  web/src/components/customer/listing-details/contexts/CommitFeedbackPromptContext.tsx
Labels: cla: yes, customer, frontend, review-required

#206 Add "Login to Continue" error component
  web/src/assets/customer/authentication.svg
  web/src/components/common/ErrorDisplay.tsx
  web/src/components/customer/my-commits/index.tsx
Labels: cla: yes, customer, frontend, review-required

#202 Add share button to listing details
  web/.env
  web/src/components/customer/listing-details/ActionBar.tsx
  web/src/components/customer/listing-details/ShareButton.tsx
  web/src/microapps.ts
Labels: cla: yes, customer, frontend, review-required

#207 Add Require Login prompt when login is unsuccessful
  web/src/assets/customer/notify.svg
  web/src/components/customer/contexts/CustomerContext.tsx
  web/src/components/customer/listing-details/ActionBar.tsx
  web/src/components/customer/listing-details/CommitFeedbackPrompt.tsx
  web/src/components/customer/listing-details/contexts/CommitContext.tsx
  web/src/components/customer/listing-details/contexts/CommitFeedbackPromptContext.tsx
Labels: cla: yes, customer, frontend, review-required

#197 Create Complete Commit API
  server/src/api/commits.ts
  server/src/interfaces.ts
  server/src/services/commits.ts
  server/src/storage/commits.ts
Labels: backend, cla: yes, review-required

#199 Change commitStatus to 'complete' after clicking INDICATE ITEM SENT
  web/src/api.ts
  web/src/components/design-samples/SendItemModalSample.tsx
  web/src/components/merchant/listing-details/PaidCustomerCard.tsx
  web/src/components/merchant/listing-details/SendItemModal.tsx
Labels: cla: yes, frontend, merchant, review-required

#195 Add endpoint for updating customer info
  server/src/api/customers.ts
  server/src/constants/default-payload.ts
  server/src/interfaces.ts
  server/src/middleware/validation/phone-number.ts
  server/src/services/customers.ts
  server/src/storage/customers.ts
  server/src/storage/datastore.ts
Labels: backend, cla: yes, customer, review-required

#204 Add missing `await` in addEntityHelper
  server/src/storage/datastore.ts
Labels: backend, bug, cla: yes, review-required

#209 Add server http error classes
  server/src/api/commits.ts
  server/src/api/customers.ts
  server/src/api/listings.ts
  server/src/api/merchants.ts
  server/src/index.ts
  server/src/middleware/customer-auth.ts
  server/src/middleware/error-handler.ts
  server/src/middleware/merchant-auth.ts
  server/src/middleware/validation/phone-number.ts
  server/src/services/commits.ts
  server/src/utils/http-errors.ts
  server/tests/integration/commits.test.ts
  server/tests/integration/customers.test.ts
  server/tests/integration/listings.test.ts
  server/tests/integration/merchants.test.ts
Labels: backend, cla: yes, review-required

#198 Add set default checkbox to fulfillment details form
  web/src/api.ts
  web/src/components/common/FormRow.tsx
  web/src/components/customer/listing-details/contexts/CommitContext.tsx
  web/src/components/customer/listing-details/hooks/useFulfilmentDetailsForm.ts
  web/src/interfaces.ts
Labels: cla: yes, customer, frontend, review-required

#205 Schedule function to update `listingStatus` to 'successful' or 'unsuccessful' when update is reached
  server/src/api/listings.ts
  server/src/interfaces.ts
  server/src/services/listings.ts
  server/src/storage/datastore.ts
  server/src/storage/listings.ts
Labels: backend, cla: yes, merchant, review-required

#211 Handle errors in datastore layer
  server/src/index.ts
  server/src/middleware/error-mapper.ts
  server/src/storage/datastore.ts
  server/src/utils/storage-errors.ts
  server/tests/integration/customers.test.ts
  server/tests/integration/merchants.test.ts
Labels: backend, cla: yes

#212 Mock auth middlewares and add tests
  server/.eslintrc.json
  server/src/middleware/__mocks__/customer-auth.ts
  server/src/middleware/__mocks__/merchant-auth.ts
  server/src/middleware/customer-auth.ts
  server/tests/fixtures/customers.ts
  server/tests/integration/commits.test.ts
  server/tests/integration/customers.test.ts
  server/tests/integration/listings.test.ts
  server/tests/integration/merchants.test.ts
Labels: backend, cla: yes, test

#214 Add customer access control middlewares
  server/src/api/commits.ts
  server/src/api/customers.ts
  server/src/custom-typings/express/index.d.ts
  server/src/middleware/__mocks__/customer-access-control.ts
  server/src/middleware/customer-access-control.ts
  server/src/services/commits.ts
  server/tests/integration/commits.test.ts
  server/tests/integration/customers.test.ts
Labels: backend, cla: yes, customer, review-required

#215 Update contact number format
  server/src/interfaces.ts
  server/src/middleware/validation/phone-number.ts
  server/tests/fixtures/customers.ts
  server/tests/integration/customers.test.ts
Labels: backend, cla: yes, customer

#216 Update gpayContactNumber upon customer login
  server/src/api/customers.ts
  server/src/constants/default-payload.ts
  server/src/interfaces.ts
  server/src/middleware/validation/phone-number.ts
  server/src/services/customers.ts
  server/tests/fixtures/customers.ts
Labels: backend, cla: yes, customer

#222 Add fallback UI for My Commits page
  web/src/assets/customer/empty-content.svg
  web/src/components/common/ErrorDisplay.tsx
  web/src/components/customer/my-commits/Commits.tsx
  web/src/components/customer/my-commits/index.tsx
Labels: cla: yes, customer, frontend, review-required

#218 Call microapps Phone Number API upon customer login
  web/src/components/customer/contexts/CustomerContext.tsx
  web/src/interfaces.ts
  web/src/microapps.ts
Labels: cla: yes, customer, frontend

#219 Autofill fulfilment details form
  web/.eslintrc.json
  web/package.json
  web/src/api.ts
  web/src/components/common/FormRow.tsx
  web/src/components/common/contexts/FormPropsContext.tsx
  web/src/components/customer/listing-details/hooks/useFulfilmentDetailsForm.ts
  web/src/microapps.ts
  web/src/utils/phone-number/index.ts
  web/src/utils/phone-number/phone-number.test.ts
Labels: cla: yes, customer, frontend

#221 Type microapps sdk
  web/src/custom-typings/window/index.d.ts
  web/src/interfaces.ts
  web/src/microapps.ts
Labels: cla: yes, frontend, refactoring

#220 Add phone number fallback UI for flows that require login
  web/src/components/common/MobilePrompt.tsx
  web/src/components/customer/contexts/CustomerContext.tsx
  web/src/components/customer/listing-details/CommitFeedbackPrompt.tsx
  web/src/microapps.ts
Labels: cla: yes, customer, frontend, review-required

#213 Use Spot Messages API to notify customers of `commitStatus` change
  server/.env.development
  server/app.yaml
  server/package.json
  server/src/constants/spot-api.ts
  server/src/interfaces.ts
  server/src/services/commits.ts
  server/src/services/listings.ts
  server/src/utils/spot-api.ts
  server/yarn.lock
Labels: backend, cla: yes

#223 Redirect merchant landing to signin page
  web/src/components/merchant/Routes.tsx
  web/src/components/merchant/landing/index.tsx
Labels: cla: yes, frontend, merchant, review-required

#225 Add delivered action button
  web/src/components/customer/listing-details/ActionBar.tsx
Labels: cla: yes, customer, frontend, review-required

#227 Use defaultValue prop instead of children for textarea
  web/src/components/common/FormRow.tsx
Labels: bug, cla: yes, customer, frontend

#228 Fix misaligned form labels
  web/src/components/common/MobilePrompt.tsx
Labels: bug, cla: yes, customer, frontend

#226 Add generic commit feedback error prompt
  web/src/api.ts
  web/src/components/customer/listing-details/CommitFeedbackPrompt.tsx
  web/src/components/customer/listing-details/contexts/CommitContext.tsx
  web/src/components/customer/listing-details/contexts/CommitFeedbackPromptContext.tsx
Labels: cla: yes, customer, frontend

#232 Customise primary and disabled muicss button colors
  web/src/index.css
Labels: cla: yes, frontend

#224 Update listingStatus to 'completed' after completing the last commit
  server/src/storage/commits.ts
Labels: backend, cla: yes, review-required

#230 Link commit prompt Manage button to my-commits page
  web/src/components/customer/listing-details/CommitFeedbackPrompt.tsx
Labels: cla: yes, customer, frontend, review-required

#234 Fix word wrap bug in commit status badge
  web/src/components/common/ListingCard.tsx
  web/src/components/customer/my-commits/CommitStatusBadge.tsx
  web/src/components/customer/my-commits/ListingCardWithCommitStatus.tsx
Labels: bug, cla: yes, frontend, review-required

#237 Fix muicss primary and disabled color
  web/src/components/common/MobilePrompt.tsx
  web/src/index.css
Labels: bug, cla: yes, frontend, review-required

#235 [Reopen] Add loading prompt for commiting and uncommitting
  web/src/components/customer/listing-details/contexts/CommitContext.tsx
Labels: cla: yes, customer, frontend, review-required

#236 Fix bug in parsing money
  web/src/utils/money/index.ts
  web/src/utils/money/money.test.ts
Labels: bug, cla: yes, frontend, merchant, review-required
