Repository googleinterns/gpay-group-buy, pull requests merged in 2020-07, with the labels that each got.

#82 Add merchant to database after signing up
  web/src/api.ts
  web/src/components/merchant/sign-up/SignUpForm.tsx
  web/src/components/merchant/sign-up/hooks/useSignUpForm.tsx
  web/src/firebase-auth.ts
  web/src/interfaces.ts
Labels: frontend, merchant

#77 Add listing details page
  web/src/Routes.tsx
  web/src/api.ts
  web/src/components/common/BackButton.tsx
  web/src/components/common/CommitProgress.tsx
  web/src/components/common/DeadlineTag.tsx
  web/src/components/common/ListingDescription.tsx
  web/src/components/common/ListingPrice.tsx
  web/src/components/customer/explore/ListingCollection.tsx
  web/src/components/customer/listing-details/ListingDetails.tsx
  web/src/components/customer/listing-details/index.tsx
  web/src/components/listing-details/index.tsx
  web/src/index.css
Labels: customer, frontend, review-required

#84 Setup server testing
  .travis.yml
  server/.eslintrc.json
  server/README.md
  server/package.json
  server/src/index.ts
  server/tests/integration/customers.test.ts
  server/tsconfig.json
  server/yarn.lock
Labels: backend, review-required, test

#78 Add create customer endpoint
  server/src/api/customers.ts
  server/src/constants/default-payload.ts
  server/src/interfaces.ts
  server/src/services/customers.ts
  server/src/storage/customers.ts
  server/src/storage/datastore.ts
Labels: backend, customer, review-required

#89 Create Get All Merchants API
  server/src/api/merchants.ts
  server/src/interfaces.ts
  server/src/services/merchants.ts
  server/src/storage/datastore.ts
  server/src/storage/interfaces.ts
  server/src/storage/merchants.ts
Labels: backend, merchant, review-required

#98 Standardise Add Merchant API behaviour with Add Customer API
  server/src/api/merchants.ts
  server/src/services/merchants.ts
  server/src/storage/merchants.ts
  web/src/api.ts
  web/src/components/merchant/sign-up/hooks/useSignUpForm.tsx
  web/src/interfaces.ts
Labels: backend, merchant, review-required

#96 Add microapps API
  web/public/index.html
  web/src/custom-typings/window/index.d.ts
  web/src/microapps.ts
Labels: frontend, review-required, setup

#88 Make POST /customers endpoint return existing customer if customer with gpayId already exists
  server/src/api/customers.ts
  server/src/interfaces.ts
  server/src/services/customers.ts
  server/src/storage/customers.ts
Labels: backend, customer, review-required

#100 Add customer signinsignup on client side
  web/src/api.ts
  web/src/components/common/CommitsBadge.tsx
  web/src/components/customer/explore/index.tsx
  web/src/interfaces.ts
  web/src/microapps.ts
Labels: customer, frontend, review-required

#104 Add customer auth
  server/.env.development.local
  server/.gitignore
  server/app.yaml
  server/package.json
  server/src/api/customers.ts
  server/src/custom-typings/express/index.d.ts
  server/src/middleware/customer-auth.ts
  server/yarn.lock
Labels: backend, customer, review-required

#103 Edit Merchant Auth middleware to just check token validity
  server/src/api/merchants.ts
  server/src/custom-typings/express/index.d.ts
  server/src/middleware/merchant-auth.ts
  web/src/components/merchant/sign-up/hooks/useSignUpForm.tsx
  web/src/firebase-auth.ts
  web/src/interfaces.ts
Labels: backend, merchant, review-required

#97 Add server calls to handle Merchant Sign In
  web/src/Routes.tsx
  web/src/api.ts
  web/src/components/common/Form.tsx
  web/src/components/common/SignInSignUpCard.tsx
  web/src/components/merchant/sign-in/hooks/useSignInForm.tsx
  web/src/components/merchant/sign-up/hooks/useSignUpForm.tsx
  web/src/constants/errors/firebase-errors.ts
  web/src/constants/errors/server-errors.ts
  web/src/constants/errors/sign-in-errors.ts
  web/src/constants/errors/sign-up-errors.ts
Labels: frontend, merchant, review-required

#105 Create Add Listing API
  server/src/api/listings.ts
  server/src/constants/default-payload.ts
  server/src/interfaces.ts
  server/src/middleware/merchant-auth.ts
  server/src/services/listings.ts
  server/src/services/merchants.ts
  server/src/storage/listings.ts
Labels: backend, merchant, review-required

#122 Add delete commit endpoint
  server/src/api/commits.ts
  server/src/api/customers.ts
  server/src/services/commits.ts
  server/src/storage/commits.ts
  server/src/storage/datastore.ts
Labels: backend, customer, review-required

#126 Fix listing rows in explore
  web/src/components/customer/explore/ListingCollection.tsx
Labels: bug, frontend, review-required

#114 Created Empty Listings page UI for new merchant
  web/src/Routes.tsx
  web/src/assets/merchant/blank-canvas.svg
  web/src/assets/merchant/gpay-logo.svg
  web/src/assets/merchant/shop.svg
  web/src/components/common/Form.tsx
  web/src/components/common/GroupBuyMerchantHeader.tsx
  web/src/components/common/MerchantDetailRow.tsx
  web/src/components/common/MerchantProfile.tsx
  web/src/components/common/MerchantSideBar.tsx
  web/src/components/common/RoundedButton.tsx
  web/src/components/merchant/listings/EmptyListingsPlaceholder.tsx
  web/src/components/merchant/listings/index.tsx
  web/src/components/merchant/sign-in/SignInCard.tsx
  web/src/components/merchant/sign-in/hooks/useSignInForm.tsx
  web/src/components/merchant/sign-in/index.tsx
  web/src/components/merchant/sign-up/SignUpCard.tsx
  web/src/components/merchant/sign-up/hooks/useSignUpForm.tsx
  web/src/index.css
Labels: frontend, merchant, review-required

#133 Fix merchant route deployment
  web/.env.production
  web/app.yaml
  web/src/firebase-auth.ts
Labels: bug, frontend, merchant

#131 Add check for listingStatus on add commit endpoint
  server/src/services/commits.ts
Labels: backend, bug, review-required

#132 Only allow unique commits to be created
  server/src/services/commits.ts
  server/src/storage/commits.ts
  server/src/storage/customers.ts
  server/src/storage/datastore.ts
  server/src/storage/merchants.ts
Labels: backend, review-required

#134 Separate Customer and Merchant routes into nested routes
  web/src/Routes.tsx
  web/src/components/customer/Routes.tsx
  web/src/components/merchant/Routes.tsx
Labels: frontend, refactoring

#128 Add mobile prompt UI component
  web/src/assets/celebrate.svg
  web/src/components/common/MobilePrompt.tsx
  web/src/components/design-samples/MobilePromptSample.tsx
  web/src/components/design-samples/index.tsx
  web/src/index.css
  web/src/interfaces.ts
Labels: frontend, review-required

#124 Add commit uncommit initial flow
  web/src/api.ts
  web/src/components/customer/listing-details/ActionBar.tsx
  web/src/components/customer/listing-details/ListingDetails.tsx
  web/src/components/customer/listing-details/contexts/ListingDetailsContext.tsx
  web/src/components/customer/listing-details/index.tsx
  web/src/interfaces.ts
Labels: customer, frontend, review-required

#116 Add Merchant Context to pass signed-in merchant data to components
  web/src/api.ts
  web/src/components/common/MerchantProfile.tsx
  web/src/components/merchant/Routes.tsx
  web/src/components/merchant/contexts/MerchantContext.tsx
  web/src/components/merchant/sign-in/hooks/useSignInForm.tsx
  web/src/components/merchant/sign-up/hooks/useSignUpForm.tsx
  web/src/constants/errors/server-errors.ts
  web/src/constants/errors/sign-in-errors.ts
  web/src/firebase-auth.ts
Labels: frontend, merchant, review-required

#135 Add FormPropsContext to pass form props to nested children components
  web/src/components/common/Form.tsx
  web/src/components/common/FormRow.tsx
  web/src/components/common/SignInSignUpCard.tsx
  web/src/components/common/contexts/FormPropsContext.tsx
  web/src/components/merchant/sign-in/SignInCard.tsx
  web/src/components/merchant/sign-in/hooks/useSignInForm.tsx
  web/src/components/merchant/sign-up/SignUpCard.tsx
  web/src/components/merchant/sign-up/hooks/useSignUpForm.tsx
Labels: frontend, refactoring, review-required

#130 Add commit feedback prompt to listing details page
  web/src/assets/customer/payment.svg
  web/src/components/customer/listing-details/CommitFeedbackPrompt.tsx
  web/src/components/customer/listing-details/contexts/CommitFeedbackPromptContext.tsx
  web/src/components/customer/listing-details/contexts/ListingDetailsContext.tsx
  web/src/components/customer/listing-details/index.tsx
Labels: customer, frontend, review-required

#138 Add customer context
  web/src/components/common/CommitsBadge.tsx
  web/src/components/customer/Routes.tsx
  web/src/components/customer/contexts/CommitCountContext.tsx
  web/src/components/customer/contexts/CustomerContext.tsx
  web/src/components/customer/explore/index.tsx
  web/src/components/customer/listing-details/contexts/ListingDetailsContext.tsx
Labels: customer, frontend, review-required

#147 Add get merchant by id endpoint
  server/src/api/merchants.ts
  server/tests/datastore-setup.ts
  server/tests/fixtures/merchants.ts
  server/tests/integration/merchants.test.ts
Labels: backend, merchant, review-required

#144 Route /listing/:id directly to customer's listing-details page
  web/src/components/customer/Routes.tsx
  web/src/components/listing-details/index.tsx
Labels: customer, frontend, review-required

#145 Move server side env vars to local files
  server/.env.development
  server/.env.development.local
  server/.gitignore
  server/README.md
  server/app.yaml
Labels: backend, review-required

#148 Add merchant details to listing details page
  web/src/api.ts
  web/src/components/customer/listing-details/ListingDetails.tsx
  web/src/components/customer/listing-details/MerchantDetails.tsx
Labels: customer, frontend, review-required

#140 Add basic my commits page
  web/src/api.ts
  web/src/components/customer/Routes.tsx
  web/src/components/customer/explore/index.tsx
  web/src/components/customer/my-commits/Commits.tsx
  web/src/components/customer/my-commits/index.tsx
  web/src/interfaces.ts
  web/src/utils/commit-status/commit-status.test.ts
  web/src/utils/commit-status/index.ts
Labels: customer, frontend, review-required

#137 Add hook to handle Add Listing form submission
  web/src/api.ts
  web/src/components/merchant/add-listing/hooks/useAddListingForm.tsx
  web/src/components/merchant/add-listing/hooks/useFormSubmit.tsx
  web/src/components/merchant/contexts/MerchantContext.tsx
  web/src/constants/errors/server-errors.ts
  web/src/interfaces.ts
  web/src/utils/money/index.ts
  web/src/utils/money/money.test.ts
Labels: frontend, merchant, review-required

#142 Add query param to Get All Listings API
  server/src/api/listings.ts
  server/src/services/listings.ts
  server/src/storage/listings.ts
  web/src/api.ts
Labels: backend, review-required

#141 Show merchant listings on Listings page
  web/package.json
  web/src/components/common/ListingCollection.tsx
  web/src/components/customer/explore/index.tsx
  web/src/components/merchant/contexts/MerchantContext.tsx
  web/src/components/merchant/listings/index.tsx
  web/yarn.lock
Labels: frontend, merchant, review-required

#146 Refactor out CommitContext
  web/src/components/customer/listing-details/ActionBar.tsx
  web/src/components/customer/listing-details/CommitFeedbackPrompt.tsx
  web/src/components/customer/listing-details/contexts/CommitContext.tsx
  web/src/components/customer/listing-details/contexts/ListingDetailsContext.tsx
  web/src/components/customer/listing-details/index.tsx
Labels: customer, frontend, refactoring, review-required

#157 Change numOngoingCommits to numUsedCommits
  server/src/interfaces.ts
  server/src/services/commits.ts
  server/src/storage/customers.ts
  web/src/components/common/CommitsBadge.tsx
  web/src/interfaces.ts
Labels: backend, bug, cla: yes, customer, review-required

#156 Put Add Listing button in Listings page when listings are not empty
  web/src/components/merchant/listings/index.tsx
Labels: cla: yes, frontend, merchant, review-required

#166 Remove dead code from travis.yml
  .travis.yml
Labels: cla: yes, review-required

#165 Modify package.json scripts
  .travis.yml
  server/package.json
  web/README.md
  web/package.json
Labels: cla: yes, review-required

#151 Add pay for commit endpoint
  server/src/api/commits.ts
  server/src/constants/default-payload.ts
  server/src/interfaces.ts
  server/src/services/commits.ts
  server/src/storage/commits.ts
  server/src/storage/datastore.ts
Labels: backend, cla: yes, customer, review-required

#153 Validate and format phone number
  server/package.json
  server/src/api/commits.ts
  server/src/constants/common.ts
  server/src/middleware/validation/phone-number.ts
  server/src/services/commits.ts
  server/yarn.lock
Labels: backend, cla: yes, customer, review-required

#155 Add basic customer payment flow
  web/src/api.ts
  web/src/components/customer/listing-details/ActionBar.tsx
  web/src/components/customer/listing-details/contexts/CommitContext.tsx
  web/src/interfaces.ts
  web/src/utils/commit-status/commit-status.test.ts
Labels: cla: yes, customer, frontend, review-required

#159 Configure composite indexes for Datastore using index.yaml file
  server/README.md
  server/index.yaml
Labels: backend, cla: yes

#168 Show Ongoing and Past Listings separately in their respective pages
  web/src/components/common/MerchantPage.tsx
  web/src/components/merchant/listings/hooks/useListings.ts
  web/src/components/merchant/listings/index.tsx
Labels: cla: yes, frontend, merchant, review-required

#160 Sort listings by deadline
  server/README.md
  server/src/interfaces.ts
  server/src/storage/datastore.ts
  server/src/storage/listings.ts
Labels: backend, cla: yes

#158 Add customer-facing merchant profile page
  web/src/Routes.tsx
  web/src/api.ts
  web/src/components/common/BackButton.tsx
  web/src/components/common/CommitsBadge.tsx
  web/src/components/common/ListingCollection.tsx
  web/src/components/customer/Routes.tsx
  web/src/components/customer/listing-details/MerchantDetails.tsx
  web/src/components/customer/listing-details/index.tsx
  web/src/components/customer/merchant-profile/index.tsx
  web/src/components/merchant/listings/hooks/useListings.ts
  web/src/constants/routes.ts
  web/src/interfaces.ts
Labels: cla: yes, customer, frontend, review-required

#179 Lazy load merchant and customer routes
  web/src/Routes.tsx
Labels: cla: yes, frontend, refactoring, review-required

#182 Only show ongoing listings on merchant profile page
  web/src/components/customer/merchant-profile/index.tsx
Labels: bug, cla: yes, customer, frontend, review-required

#183 Order explore listings by earliest deadline and only show ongoing listings
  server/index.yaml
  web/src/components/customer/explore/index.tsx
Labels: cla: yes, customer, review-required

#162 Refactor datastore to use HOF transaction
  server/src/storage/commits.ts
  server/src/storage/customers.ts
  server/src/storage/datastore.ts
  server/src/storage/listings.ts
  server/src/storage/merchants.ts
Labels: backend, cla: yes, refactoring, review-required
